.container{
    display: flex;
}
.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background: yellow;
}

.grid div{
    height: 20px;
    width: 20px;
}
.tetromino{
    background: blue;
}
.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background: yellow;
    margin-left: 50px;
}
.mini-grid div{
    height: 20px;
    width: 20px;
}